<!-- /snippets/notclothes.liquid -->

<div id="homepage_notclothes" class="notclothes-collection" >
  <div class="wrapper">
    <div class="notclothes-container">
      <p>This is a paragraph.</p>
    </div>
  </div>
</div>